.qsec {
    padding: 1rem 1.25rem;
    max-width: 38rem;
}

.qsec-head {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top:0rem;
    margin-bottom: 0.5rem;
}

.qsec-body {
    font-size: 1rem;
    line-height: 1.6;
}

.qsec-body p {
    margin-bottom: 1.5rem;
}

.qsec-body ul {
    list-style-type: disc;
    padding-left: 1.25rem;
}

.qsec-body li {
    margin-bottom: 1rem;
    line-height: 1.5;
}